aside {
    width: 20%;
    height: 100%;
    background-color: var(--light-black);
    display: flex;
    justify-content: flex-end;
    overflow: auto;
}

#aside-content {
    max-width: 300px;
    width: 100%;
    padding: 16px;
    margin-top: 10px;
}

#aside-content hr {
    width: 80%;
}

#aside-content > div:first-child {
    margin-bottom: 40px;
}

#aside-content ul {
    margin-top: 16px;
}

#aside-content ul li {
    width: 100%;
    height: 30px;
    margin: 4px 0;
}

#aside-content ul li a:hover {
    text-decoration: underline;
}

#aside-content ul li a {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

#aside-content ul:last-child li {
    display: flex;
    align-items: center;
}

#add-project-btn {
    width: 100%;
    margin-top: 14px;
    padding: 6px 0;
    border: 1px dashed var(--gray-color);
    border-radius: 1px;
}

#project-list {
    padding-bottom: 16px;
}
