main {
    background-color: cyan;
    width: 80%;
    height: 100%;
    overflow: auto;
    padding: 30px 40px;
}

main h2 {
    margin-bottom: 20px;
}

#task-btn {
    width: 100%;
    height: 40px;
    border: 1px dashed #aaa;
}

#task-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
