.task {
    width: 100%;
    height: 40px;
    background-color: var(--light-black);
    display: flex;
    flex-direction: column;
}

.task-content {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.task-content > * {
    padding: 5px;
    display: flex;
    align-items: center;
}

.task-content > h6 {
    flex: 3;
    cursor: pointer;
}

.task-content > h6:first-child {
    padding-left: 14px;
}

.task-content > div {
    flex: 2;
}

.icon {
    height: 30px;
    cursor: icon;
}

.icon:hover {
    transform: scale(0.9);
}

.task-buttons {
    display: flex;
    justify-content: space-evenly;
}

.task-buttons > img {
    cursor: pointer;
    filter: invert(73%) sepia(100%) saturate(1%) hue-rotate(336deg) brightness(100%) contrast(94%);
}

.expand-task {
    height: 80px;
}

.task-description {
    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-bottom: 10px;
    height: 100%;
}

.task-priority {
    border: 2px solid var(--yellow-color);
}

.task-completed .task-buttons > img:nth-child(2) {
    filter: invert(96%) sepia(13%) saturate(1290%) hue-rotate(1deg) brightness(91%) contrast(93%);
}